@font-face {
    font-family: "Avenir Regular";
    src: url(./fonts/Avenir\ Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Helvetica-Normal";
    src: url(./fonts/Helvetica-Normal.ttf);
    font-weight: 700;
}
*{
    font-family: Avenir Regular;
}
body{
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.header{
    padding-top: 50px;
}
.container_header{
    max-width: 1118px;
    width: 100%;
    margin: 0 auto;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    margin-right: 121px;
    width: 49px;
    height: 35px;
}
.topnav{
    cursor: pointer;
}
a{
    text-decoration: none; 
}
a:not(:last-child){
    margin-right: 40px;
}
.topnav a:hover {
    border-bottom: 2px solid rgb(77, 214, 242);
}
.nav_1{
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #212353;
}
.nav_2{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}
.header_btn{
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    min-width: 210px;
    min-height: 60px;

    background: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #212353;
    padding: 17px 29px;
}
.header_btn img{
    margin-left: 20px;
    width: 20px;
    height: 14px;
}
main{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.data_warehouse{
    margin-top: 147px;
    width: 100%;
    display: flex;
    margin-left: 200px;
}
.data_warehouse_text{
    display: flex;
    flex-direction: column;
}
.data_warehouse_text h1{
    width: 645px;
    height: 184px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    z-index: 2;
    color: #212353;
    margin-bottom: 50px;
}
.data_warehouse_text p{
    z-index: 3;
    width: 380px;
    height: 120px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

    color: #4B5D68;
}
.data_warehouse_img{
    width: 885px;
    height: 468px;
    z-index: 0;
}
.btn_data_warehouse{
    margin-top: 50px;
    width: 170px;
    height: 60px;

    background: #9C69E2;
    border-radius: 50px;
    border: none;
}
.btn_d_w_name{
    align-items: center;
    text-align: center;

    width: 96px;
    height: 29px;
    left: 277px;
    top: 660px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;   
}
.storage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 193px;

}
.storage_wrapper{
    display: flex;
    margin-top: 99px;
    height: 560px;
    width: 1117px;
    
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.storage img {
    max-width: 477px;
    height: 504px;
    margin-right: 62px;
}
.storage_content{
    width: 475px;
    height: 310px;
}
.storage h2{
    margin-top: 125px;
    width: 475px;
    height: 100px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    
    color: #212353;
}
.storage p{
    margin-top: 40px;
    width: 474px;
    height: 170px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}
.features{
    max-width: 1137px;
    width: 100%;
    margin: 0 auto;
    height: 1002px;
}
.features_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    max-width: 100%;
    height: 160px;
}
.features h2{
    display: flex;
    text-align: center;
    max-width: 405px;
    height: 52px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    color: #212353;
}
.features p{
    display: flex;
    text-align: center;
    max-width: 584px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    
    color: #4B5D68;
}
.features_wrapper{
    display: flex;
    margin-top: 149px;  
}
.features_left{
    display: flex;
    flex-direction: column;
    margin-right: 93px;
}
.features_right{
    display: flex;
    flex-direction: column;
}
.features_img{
    max-width: 232px;
    max-height: 211px;
    margin-right: 29px;
}
.search,  .hours,  .print,  .security{
    display: flex;
    width: 519px;
    height: 355px;
}
.search_content{
    display: flex;
    flex-direction: column;
}
.features_wrapper h2{
    max-width: 200px;
    max-height: 50px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #212353;
}
.features_wrapper p{
    max-width: 220px;
    max-height: 160px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
    text-align: left;
    padding-bottom: 20px;
}
.btn_features{
    margin-right: 20px;
    height: 26px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    display: flex;

    color: #212353;  
}
.arrow_right{
    margin-left: 20px;
}
.search, .hours{
    margin-bottom: 132px;
}
.testimonials{
    display: flex;
    align-items: center;
    max-width: 1118px;
    max-height: 709px;
    width: 100%;
    margin: 0 auto;
    background: #9C69E2;
    border-radius: 50px; 
    margin-top: 183px;  
}
.testimonials_wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 93px;
}
.testimonials_wrapper h2{
    margin-top: 109px;
    margin-bottom: 88px;
    max-width: 405px;
    max-height: 52px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;

    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.testimonials_info{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 949px;
    max-height: 330px;
    
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(86, 40, 156, 0.3);
    border-radius: 20px;
    margin-bottom: 60px;
}
.testimonials_text{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    max-width: 566px;
    max-height: 200px;
}
.testimonials_info img{
    max-width: 132px;
    max-height: 90px;
    margin-left: 103px;
    margin-top: 60px;
    margin-right: 44px;
}
.testimonials_text a{
    width: 148.6px;
    height: 22px;
    left: 614.55px;
    top: 3147px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #9C69E2;
}
.testimonials_text p{
    margin-top: 19px;
    width: 566.46px;
    height: 130px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    color: #4B5D68;
}
.testimonials_button{
    display: flex;
    justify-content: space-between;
    max-width: 949px;
    margin-bottom: 60px;
}
.two_arrows{
    display: flex;
}
.back_btn{
padding-right: 20px;
}
hr{
    margin-top: 150px;
}

footer{
    max-width: 1600px;
    max-height: 761px;
    width: 100%;
    margin: 0 auto; 
}
.footer_wrapper{
    display: flex;
    flex-direction: column;
}
.footer_title{
    display: flex;
    justify-content: space-between;
}
.footer_title_name{
    display: flex;
    flex-direction: column;
}
.footer_title_name h2{
    max-width: 405px;
    max-height: 52px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    display: flex;
    align-items: center;
    
    color: #212353;
    margin-bottom: 20px;
}
.footer_title_name p {
    width: 584px;
    height: 29px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}
.footer_button{
    display: flex;
    align-items: baseline;
}
.footer_btn_learn{
    min-width: 170px;
    min-height: 60px;
    border: none;

    background: #F063B8;
    border-radius: 50px;
    margin-right: 30px;
}

.footer_content{
    display: flex;
    margin-top: 153px;
}
.address{
    display: flex;
    flex-direction: column;
}
.address_title{
    display: flex;
}
.address_title img{
    min-width: 49px;
    min-height: 35px;
    margin-right: 20px;
}
.address_title h4{
    width: 153px;
    height: 30px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;

    color: #212353;
}
.address_title p{
    margin-top: 40px;
    width: 335px;
    height: 65px;
    margin-bottom: 40px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;

    letter-spacing: 0.01em;

    color: #212353;
}


