body{
    background: #E5E5E5;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #C4C4C4;
}
.desktop{
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 4500px;
    padding-left: 240px;
    
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}
header{
   
    width: 1120px;
    height: 60px; 
}
.section_01_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 62px;
}
.section_01_logo{
    width: 49px;
    height: 35px;
}
.topnav{
    display: inline;
    align-content: space-around;
    cursor: pointer;
}
a{
    text-decoration: none; 
}
.topnav a:hover {
    border-bottom: 2px solid rgb(77, 214, 242);
}
.nav_1{

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}
.nav_2{
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.button_arrow{
    cursor: pointer;
    width: 210px;
    height: 60px;
    left: 1150px;
    top: 50px;
    
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}
.btn_01{
    cursor: pointer;  
    vertical-align: middle;
    margin-left: 29px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;

    letter-spacing: 0.005em;

    color: #212353;
    background: #FFFFFF;
    border: none;    
}
.btn_01_img{
    margin-left: 20px;
    width: 20px;
    height: 14px;
    left: 1311px;
    top: 73px;
}
.main{
    display: flex;
    flex-direction: column;
}
.section_01_content{
    display:flex;
    position: relative;

}
.section_01_text{
    flex-direction: column;
    width: 645px;
    height: 464px;
}
.section_01_text h1{
    margin-top: 240px;
    width: 645px;
    height: 184px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;

    color: #212353;
}
.section_01_text p{
    z-index: 3;
    width: 380px;
    height: 120px;
    left: 240px;
    top: 474px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    color: #4B5D68;
}
.section_01_img{
    margin-top: 336px;
    width: 885px;
    height: 468px;
    z-index: 0;
    background: url(image1.png);
}
.btn_02{
    margin-top: 50px;
    width: 170px;
    height: 60px;

    background: #9C69E2;
    border-radius: 50px;
    border: none;
}
.btn_02_name{
    align-items: center;
    text-align: center;

    width: 96px;
    height: 29px;
    left: 277px;
    top: 660px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;   
}
.section_02{
    display: flex;
    position: relative;
    margin-top: 99px;
    width: 1117px;
    height: 560px;
    
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.section_02 img {
    width: 477px;
    height: 504px;
}
.section_01_content{
    width: 475px;
    height: 310px;
}
.section_02 h2{
    width: 475px;
    height: 100px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    
    color: #212353;
}
.section_02 p{
    width: 474px;
    height: 170px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}







.section_03{

}
.section_03 h2{
    width: 405px;
    height: 52px;
    left: 596.29px;
    top: 1613px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;

    /*display: flex;
    align-items: center;
    text-align: center;*/
    
    color: #212353;
}
.section_03_title{
    width: 584px;
    height: 160px;
}
/*button footer*/
.btn_05{
    width: 410px;
    height: 60px;
}
.btn_05_learn{
    width: 170px;
    height: 60px;
    
    background: #F063B8;
    border-radius: 50px;
    border: none;   
}
.btn_05_learn p{
    width: 96px;
    height: 29px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
   
    /*display: flex;
    align-items: center;
    text-align: center;*/
    
    color: #FFFFFF;   
}
.btn_05_request{
    width: 210px;
    height: 60px;
    
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}
.btn_05_request p {
    
}

