@font-face {
    font-family: "Avenir Regular";
    src: url(./fonts/Avenir\ Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Helvetica-Normal";
    src: url(./fonts/Helvetica-Normal.ttf);
    font-weight: 700;
}
*{
    font-family: Avenir Regular;
}
body{
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
}
.header{
    padding-top: 50px;
}
.container_header{
    max-width: 1118px;
    width: 100%;
    margin: 0 auto;
}
.header_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo{
    margin-right: 121px;
    width: 49px;
    height: 35px;
}
.topnav{
    cursor: pointer;
}
a{
    text-decoration: none; 
}
a:not(:last-child){
    margin-right: 40px;
}
.topnav a:hover {
    border-bottom: 2px solid rgb(77, 214, 242);
}
.nav_1{
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #212353;
}
.nav_2{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}
.header_btn{
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    min-width: 210px;
    max-width: 210px;
    background: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 26px;
    color: #212353;
    padding: 17px 29px;
}
.header_btn img{
    margin-left: 20px;
    width: 20px;
    height: 14px;
}
.data_warehouse{
    margin-top: 147px;
    width: 100%;
    display: flex;
    margin-left: 200px;
}
.data_warehouse_text{
    display: flex;
    flex-direction: column;
}
.data_warehouse_text h1{
    width: 645px;
    height: 184px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    z-index: 2;
    color: #212353;
    margin-bottom: 50px;
}
.data_warehouse_text p{
    z-index: 3;
    width: 380px;
    height: 120px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

    color: #4B5D68;
}
.data_warehouse_img{
    width: 885px;
    height: 468px;
    z-index: 0;
}
.btn_data_warehouse{
    margin-top: 50px;
    width: 170px;
    height: 60px;

    background: #9C69E2;
    border-radius: 50px;
    border: none;
}
.btn_d_w_name{
    align-items: center;
    text-align: center;

    width: 96px;
    height: 29px;
    left: 277px;
    top: 660px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;   
}
.storage{
    
}
.storage_wraper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    margin-top: 99px;
    height: 560px;
    
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.storage img {
    width: 477px;
    height: 504px;
}
.storage_content{
    width: 475px;
    height: 310px;
}
.storage h2{
    width: 475px;
    height: 100px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    
    color: #212353;
}
.storage p{
    width: 474px;
    height: 170px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}







.features{
    width: 1136.85px;
    height: 1002.06px;
}
.features_title{
    width: 584px;
    height: 160px;
}
.features h2{
    width: 405px;
    height: 52px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;

    /*display: flex;
    align-items: center;
    text-align: center;*/
    
    color: #212353;
}
.features p{
    /*position: absolute;
    left: 507.29px;
    top: 1715px;
    text-align: center;*/

    width: 584px;
    height: 58px;

    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    
    color: #4B5D68;
}
.search,  .hours,  .print,  .security{
    width: 519.27px;
    height: 355px;

}











/*button footer*/
.btn_05{
    width: 410px;
    height: 60px;
}
.btn_05_learn{
    width: 170px;
    height: 60px;
    
    background: #F063B8;
    border-radius: 50px;
    border: none;   
}
.btn_05_learn p{
    width: 96px;
    height: 29px;
    
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
   
    /*display: flex;
    align-items: center;
    text-align: center;*/
    
    color: #FFFFFF;   
}
.btn_05_request{
    width: 210px;
    height: 60px;
    
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
}
.btn_05_request p {
    
}

