@font-face {
    font-family: "Product-Sans";
    src: url(./fonts/Product\ Sans\ Bold\ Italic.ttf);
    font-weight: 700;
}
*{
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
}
.main{
    background-color: #F4F6F9;
    background: url(./img/header-img-956.png) right top;
    background-repeat: no-repeat;
    padding-top: 61px;
    padding-bottom: 164px;
}

.container{
    max-width: 1038px;
    width: 100%;
    margin: 0 auto;
    padding: 0 21px;
    
}
.main__logo{
    margin-bottom: 133px;
}
.main__title{
    margin-bottom: 30px;
    width: 54%;
    letter-spacing: 0.03em;
    color: #333333;  
    font-weight: 700;
    font-size: 36px;
    line-height: 48px; 
}
.main__description{
    margin-bottom: 50px;
    width: 44%;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
}
.main__btns{
    display: flex;
    align-items: center;
    border: none;
}
.apple_icon {
    fill: rgb(18, 18, 19);
}
.apple_icon:hover {
    fill: #5282F0;
    cursor: pointer;
}
.main__btns svg:first-child{
    margin-right: 36px;
} 
.google_icon {
    fill: rgb(18, 18, 19);
}
.google_icon:hover {
    fill: #5282F0;
    cursor: pointer;
}




