@media screen and (max-width:1100px) {

    .container{
        max-width: 1000px;
        padding-left: 20px;
    }
    .main{ 
        padding-bottom: 59px;
        background: #F4F6F9;
    } 

    /* section 4 */
    .futures .container{
      padding-left: 30px;  
    }
    /* section 5 */
    .arrows{
        width: 100%;
    }
    /* footer */
    .container__footer{
        margin-top: 23px;
        padding-left: 20px; 
        width: 100%;       
    }
    .footer_nav_wrapper{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 21px;
        align-items:baseline;
    }

    .link li:last-child{
        padding-bottom: 34px;
    }
    .footer_nav_wrapper img{
        max-width: 99px;    
        max-height: 32px;
        margin-bottom: 11px;
    }
    .footer .main__btns{
        margin-bottom: 20px;
    }
}





@media screen and (max-width:991px) {
    .container{
        max-width: 868px;
        align-items: center;
    }
    .container__content{
        padding-top: 71px;
        padding-left: 100px;
    } 
    .main{
        background: none;
    }
    .main__logo{
        margin-bottom: 86x;
    }
    
    /* section 2 */
    .experience__wrapper .container__content{
        padding-bottom: 22px;
        margin-top: 54px;
    }

    .arrows{
        width: 100%;
    }
    .container__footer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    height: auto;
    padding-bottom: 60px;
    justify-content: center;
    text-align: center;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
        height: auto;
        justify-content: center;
        text-align: center;
    }
}




@media screen and (max-width:720px) {
    .container{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container h3{
        color: #4F4F4F;
    }
    /* section 2 */
    .experience .experience__wrapper{
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
        height: auto;
        padding-bottom: 60px;
        justify-content: center;
        text-align: center;
    }
    .experience__one{
        display: none;
    }
    .experience__two{
        display: none;
    }
    .experience__mobile{
        display: block;
        margin-top: 70px;
        margin: 0 auto;
        z-index: 3;
    }
    /* section 3 */
    .benefits{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .benefits .container__content  {
        padding: 0 20px;
        text-align: center;
    }
    .container__content__text{
        text-align: center;
        width: 100%;
    }
    .benefits .container{
        padding-bottom: 12px;
    }
    .benefits__img{
        position: relative;
        left: 0;
        margin-bottom: 32px;
    }
     /* section 4 */
    .futures{
        background: #FAFAFA;
    }
    .futures__content{
        color: #4F4F4F;
        display: flex;
        flex-direction: column;
    }
    .futures__content__block p{
        text-align: center;
        color: #4F4F4F;
    }
    .futures__content__block path{
        fill: #00ADEE;
    }
    .futures__svg{
        display: flex;
        justify-content: center;
    }
    /* footer */
    .footer img{
    padding: 0;
    margin: 0;
    }
    .footer_nav_wrapper img{
        align-items: flex-start;
    }
    .container__footer{
        margin: 19px 20px 20px 15px;
    }
}