@media screen and (max-width:1100px) {

    .container{
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main{
        padding-bottom: 59px;
        background-image: none;
        background-color: #F4F6F9;
    } 

    /* section 2 */
    .experience__wrapper {
        display: flex;
        flex-wrap: wrap-reverse;
        box-sizing: content-box;
        height: auto;
        padding-bottom: 60px;
        justify-content: center;
        text-align: center;
    }
    .experience__wrapper .container__content{
        width: 100%;
        padding-bottom: 22px;
        margin-top: 54px;
    }
    .experience__one{
        margin-top: -200px;
        width: 50%;

    }
    .experience__two{
        margin-top: -200px;
        width: 50%;
    }
    .experience__left{
        width: 62%;
        background-image: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%),
        rgba(255, 255, 255, 0.5) url(./img/experience\ 805.svg);
        background-size: cover;
        display: block;
        padding-top: 450px;
    }
    .arrows{
        width: 100%;
    }


    /* footer */
    .container__footer{
        margin-top: 23px;
        padding-left: 20px; 
        width: 100%;       
    }
    .footer_nav_wrapper{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-left: 21px;
        align-items:baseline;
    }

    .link li:last-child{
        padding-bottom: 34px;
    }
    .footer_nav_wrapper img{
        max-width: 99px;    
        max-height: 32px;
        margin-bottom: 11px;
    }
    .footer .main__btns{
        margin-bottom: 20px;
    }
}





@media screen and (max-width:991px) {
    .container{
        max-width: 868px;
        align-items: center;
        justify-content: center;
    }
    .container__content{
        padding-top: 71px;
        padding-left: 100px;
    } 
    .arrows{
        width: 100%;
    }
    .container__footer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    height: auto;
    padding-bottom: 60px;
    justify-content: center;
    text-align: center;
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        box-sizing: content-box;
        height: auto;
        justify-content: center;
        text-align: center;
    }
}




@media screen and (max-width:720px) {
    .container{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container h3{
        color: #4F4F4F;
    }

    /* section 3 */
    .benefits{
        display: block;
    }
    /* .benefits .container {
        max-width: 700px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
      }
    .container__content { 
        grid-area: container__content; 
        }
    .benefits__bg { 
        grid-area: benefits__bg; 
    } */
     /* section 4 */
    .futures{
        background: #FAFAFA;
    }
    .futures__content{
        color: #4F4F4F;
        display: flex;
        flex-direction: column;
    }
    .futures__content__block p{
        text-align: center;
        color: #4F4F4F;
    }
    .futures__content__block path{
        fill: #00ADEE;
    }
    .futures__svg{
        display: flex;
        justify-content: center;
    }
    .footer_nav_wrapper img{
        align-items: flex-start;
    }
}