body{
    display: block;
    position: relative;
    width: 100%;
    height: 500px;
    background: #FFFFFF;
}
.section_1{
    display: flex;
    justify-content: space-between;
    height: 500px;
    background: #ED4C5C;    
}
.section_1 h1 {
    margin-top: 122px;
    margin-left: 165px;
    width: 50%;
    font-size: 36px;    
    color: #FFFFFF;
}
.section_1 p {
    margin-left: 165px;
    width: 445px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
}
.section_link{
    display: flex;
    width: 134px;
    margin-left: 161px;
    margin-top: 40px;

}
.logo_apple{
    margin-left: 10px;
    margin-right: 10px;;
    width: 32px;
    height: 32px;
}
.logo_windows{
    width: 24px;
    height: 24px;
    top: 4px;
}
.slider{
    display: inline;
    margin-top: 94px;
    padding-left: 22px;
}
.foto_1{
    position: absolute;
    top: 116px;
    left: 691px;
    background: url(.jpg), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
}
.foto_2{
    position: absolute;
    left: 841px;
    top: 116px;
    
    background: url(.jpg), #C4C4C4;
    opacity: 0.5;
    border-radius: 15px;
}
.foto_3{
    position: absolute;
    width: 445px;
    height: 311px;
    left: 735px;
    top: 94px;
    
    background: url(.jpg), #C4C4C4;
    border-radius: 15px;
}
.left_text{
    width: 100%;
    height: 500px;
    color: #000000;
}
.left_text > h4 {
    margin-left: 176px;
    margin-top: 76px;
    font-size: 36px;
}
.left_text > p {
    margin-left: 176px;
    width: 434px;
    line-height: 140%;
}  
.right_field{
    position: absolute;
    left: 735px;
    top: 617px;
}
.right_field > div {
    margin-bottom: 24px; 
   
}
.FirstN{
    padding-left: 31px;
    margin: 0% ;
    box-sizing: border-box;

    width: 255px;
    height: 60px;
    left: 735px;
    top: 617px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}
.LastN{
    padding-left: 31px;
    margin-left: 25px;
    
    
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 617px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);

    box-sizing: border-box;
    border: 1px solid #333333;
    border-radius: 6px;
}
.PhoneN{
    margin-bottom: 24px;
    box-sizing: border-box;
    padding-left: 31px;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 701px;
   
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: rgba(19, 39, 67, 0.5);
}
.Select{
    display: block;
    box-sizing: border-box;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 785px;
    padding-left: 31px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato';
    font-style: normal;
    
    font-size: 16px;
    line-height: 19px;
    
    color: rgba(19, 39, 67, 0.5);
}
.button{
    cursor: pointer;
    margin-top: 27px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    left: 735px;
    top: 872px;
    
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
}
.button > p {
    padding-top: 5px;
    width: 92px;
    height: 17px;
    left: 769px;
    top: 889px;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}
footer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 435px;    
    background: #FAFAFA;
    color: #101010;
    font-family: 'Lato';
    font-style: normal;
}
.addrees{
    margin-top: 85px;
    margin-left: 161px;
}
.addrees h2{
    font-size: 18px;;
}
.addrees > p {
    margin-top: 33px;
    margin-bottom: 141px;
    width: 254px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}
.Services{
    margin-top: 85px;
    margin-left: 30px;   
}
.Services > h2 {
    font-weight: 700;
    font-size: 18px;
}
.Services > ul {
    margin-top: 28px;
    list-style: none;
    padding: 0%;
    width: 254px;
    font-size: 12px;
    line-height: 160%;
}
.Get_in_Touch{
    margin-top: 85px;
    margin-left: 30px;
    font-size: 12px;
}
.Get_in_Touch > h2 {
    font-size: 18px;
    margin-bottom: 33px;  
}
.Get_in_Touch > a {
    font-size: 12px;
}
a:link {
    text-decoration: none;
    color: #101010;
  }
.Support{
    margin-top: 85px;
    margin-left: 166px;
}
.Support > h2 {
    font-size: 18px;
}
.Support > img {
    margin-top: 33px;
}